@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content-heading">
        Account Manager
    </div>
    <div class="container-md">
        
        <div class="row">
            <div class="col-lg-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                <div class="tab-content p-0 b0">
                    <div class="tab-pane active">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
