@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="card b">
    <div class="card-header bg-gray-lighter text-bold">@ViewData["Title"]</div>
    <div class="card-body">

            
    </div>
</div>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
